.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  width: 337px;
  height: 65vh;
  background-color: white;
  border-radius: 19px;
  box-shadow: 13px 13px 35px #c4c4c4, -13px -13px 35px #f7f7f7;
}
.login__container > h2 {
    color: #17266d;
}
.login__container > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.213);
  border-radius: 3px;
  padding: 5px;
}
.login__container > button {
  width: 100%;
  border: none;
  color: white;
  padding: 9px;
  background-color: #17266d;
  border-radius: 2px;
}
.login__container > p {
  display: flex;
  font-size: small;
}
.login__paragraph {
  color: blue;
}

