.App {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    165deg,
    #e0e3f0 65%,
    rgb(255, 255, 255) 45%
  );
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.213);
  border-radius: 3px;
  padding: 5px;
}
button {
  width: 100%;
  border: none;
  color: white;
  padding: 9px;
  background-color: #17266d;
  border-radius: 2px;
}
